.box{
    width: 1000px;
    height: 500px;
    background-color: pink;
    margin: 0 auto;
}
.left{
    width: 500px;
    height: 500px;
    background-color: red;
    float: left;
}
.right{
    width: 500px;
    height: 500px;
    background-color: blue;
    float: right;
}